<footer id="contact">
    <div class="footer-grid-container">
      <div class="grid-item">
        <h3>LOGISTICS <span class="text-info">NEXSUS</span></h3>
        <ol>
          <li>Beyond Ordinary, Beyond Borders</li>
        </ol>
      </div>
      <div class="grid-item">
        <h3>Contact us</h3>
        <ol>
          <li class="flex-icons">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
          </li>
          <li>Email: LogisticNexuses&#64;gmail.com</li>
          <li>Phone: +919060523489</li>
        </ol>
      </div>
      <div class="grid-item">
        <h3>Our services</h3>
        <ol>
          <li>Transportation Management</li>
          <li>Warehouse Management</li>
          <li>Order Management</li>
          <li>Inventory Management</li>
          <li>Supply Chain Visibility</li>
          <li>Freight Management</li>
        </ol>
      </div>
      <div class="grid-item">
        <h3>Our Company</h3>
        <ol>
          <li>About Us</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
        </ol>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <small>© 2024 Logistics Nexus. All rights reserved.</small>
  </div>
  </footer>