.navbar-brand {
    font-size: 1rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #0056b3;
    border-radius: 20px;
    padding: 7px;
    transition: background-color 0.3s ease;
}









